root{
    --inv: #000;
    --def: #fff;
}


.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    position: relative;
    overflow: hidden;

    .photoslist{
        display: flex;

        .column-1{
            transform: translateY(-400px);
        }
        .column-4{
            transform: translateY(-400px);
        }
    }
}

@media (max-width: 800px) {
    .home{

        .photos{
            display: grid;
            grid-template-columns: 1fr;
            transform: translateY(-350px);
            .column-1{
                transform: translateY(0px);
            }
            .column-4{
                transform: translateY(0px);
            }
        }
    }
}