body{
  margin: 0;
  overflow-x: hidden;
}

.app {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 100%;
  background-color: #F2F2F2;
  position: relative;
  min-height: 100vh;
}