.photo{
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 20px;
    img{
        /* max-width: 233px; */
        border-radius: 5px;
        transition: 0.5s;
        &:hover{
            cursor: pointer;
            transform: translateY(-3px);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;         
        }
    }
    .autor{
        margin: 5px;
        text-decoration: none;
        color: rgb(78, 78, 78);
        font-size: 15px;
        transition: 0.5s;

        &:hover{
            color: #000;
        }
    }
}
@media (min-width: 1100px) {
    img{
        max-width: 233px;
    }
}
@media (max-width: 1100px) {
    img{
        max-width: 150px;
    }
}
@media (max-width: 800px) {
    img{
        max-width: 400px;
    }
}

@media (max-width: 500px) {
    img{
        max-width: 300px;
    }
}
